{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div data-bind="template: {
            name: 'accordion-sidebar-template',
            foreach: volumes, as: 'volume' }"></div>
    </div>
    <div class="col-md-9">
        <h1 data-bind="text: 'Document: ' + doc().name"></h1>
        <h3>Word Frequency</h3>
        <figure id="word-freq" style="height: 300px"></figure>

        <div class="row">
            <div class="col-md-8">
                <div class="figure-controls">
                    <input
                    placeholder="Filter words"
                    type="text"
                    class="form-control filter-categories"
                    data-bind="event: { keyup: filterCategories }"/>
                </div>
            </div>
        </div>
        <h3>XRay</h3>
        <h3>Document Text</h3>
        <p data-bind="html: Salient.Utils.textToParagraph(doc().text)"></p>
    </div>
</div>
{% endblock %}

{% block js %}{{ block.super }}
    <script src="{% static 'highcharts-release/highcharts.js' %}"></script>
    <script src="{% static 'visualize/js/hc/word_freq.js' %}"></script>
    <script src="{% static 'visualize/js/visualize.js' %}"></script>
{% endblock %}
{% block js_templates %}
    {% include "core/js_templates/accordion_sidebar.html" %}
{% endblock %}

