{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div data-bind="template: {
            name: 'accordion-sidebar-template',
            foreach: volumes, as: 'volume' }"></div>
    </div>
    <div class="col-md-9">
        <div data-bind="template: {
            name: display,
            }"></div>
    </div>
</div>
{% endblock %}

{% block js %}{{ block.super }}
    <script src="{% static 'd3/d3.js' %}"></script>
    <script src="{% static 'highcharts-release/highcharts.js' %}"></script>
    <script src="{% static 'highcharts-release/modules/heatmap.js' %}"></script>
    <script src="{% static 'visualize/js/hc/word_freq.js' %}"></script>
    <script src="{% static 'visualize/js/hc/xray.js' %}"></script>
    <script src="{% static 'visualize/js/visualize.js' %}"></script>
{% endblock %}
{% block js_templates %}
    {% include "core/js_templates/accordion_sidebar.html" %}
    {% include "core/js_templates/document_content.html" %}
    {% include "core/js_templates/volume_content.html" %}
{% endblock %}

